<div class=" grid grid-cols-3 gap-4">
    <div class=" p-3 rounded-md bg-white">
        <div class="flex gap-4 pb-4 border-b">
            <img src="../../../assets/images/img-pr.jpg" alt="" class="mt-[-20px]">
            <div>
                <h2 class=" line-clamp-1 font-medium text-[18px] hover:underline" [routerLink]="['detail/1']"> Hippi -
                    Những Kẻ Lãng Du</h2>
                <span>Paulo Coelho</span>
                <p class=" line-clamp-3">
                    Hippie – Những kẻ lãng du đưa ta đến với những con người hoàn toàn xa lạ, với...
                </p>
            </div>
        </div>
        <div class=" mt-4 flex justify-between items-center">
            <span class=" p-2 rounded-md bg-red-500 text-white font-medium">
                Còn lại 20
            </span>
            <span>
                <span class="line-through mr-4">
                    99.000 đ
                </span>
                <span class="text-red-500 text-lg font-medium">
                    120.000 đ
                </span>
            </span>
        </div>
    </div>
    <div class=" p-3 rounded-md bg-white">
        <div class="flex gap-4 pb-4 border-b">
            <img src="../../../assets/images/img-pr.jpg" alt="" class="mt-[-20px]">
            <div>
                <h2> Hippi - Những Kẻ Lãng Du</h2>
                <span>Paulo Coelho</span>
                <p>
                    Hippie – Những kẻ lãng du đưa ta đến với những con người hoàn toàn xa lạ, với...
                </p>
            </div>
        </div>
        <div class=" mt-4 flex justify-between items-center">
            <span class=" p-2 rounded-md bg-red-500 text-white font-medium">
                Còn lại 20
            </span>
            <span>
                <span class="line-through mr-4">
                    99.000 đ
                </span>
                <span class="text-red-500 text-lg font-medium">
                    120.000 đ
                </span>
            </span>
        </div>
    </div>
    <div class=" p-3 rounded-md bg-white">
        <div class="flex gap-4 pb-4 border-b">
            <img src="../../../assets/images/img-pr.jpg" alt="" class="mt-[-20px]">
            <div>
                <h2> Hippi - Những Kẻ Lãng Du</h2>
                <span>Paulo Coelho</span>
                <p>
                    Hippie – Những kẻ lãng du đưa ta đến với những con người hoàn toàn xa lạ, với...
                </p>
            </div>
        </div>
        <div class=" mt-4 flex justify-between items-center">
            <span class=" p-2 rounded-md bg-red-500 text-white font-medium">
                Còn lại 20
            </span>
            <span>
                <span class="line-through mr-4">
                    99.000 đ
                </span>
                <span class="text-red-500 text-lg font-medium">
                    120.000 đ
                </span>
            </span>
        </div>
    </div>
    <div class=" p-3 rounded-md bg-white">
        <div class="flex gap-4 pb-4 border-b">
            <img src="../../../assets/images/img-pr.jpg" alt="" class="mt-[-20px]">
            <div>
                <h2> Hippi - Những Kẻ Lãng Du</h2>
                <span>Paulo Coelho</span>
                <p>
                    Hippie – Những kẻ lãng du đưa ta đến với những con người hoàn toàn xa lạ, với...
                </p>
            </div>
        </div>
        <div class=" mt-4 flex justify-between items-center">
            <span class=" p-2 rounded-md bg-red-500 text-white font-medium">
                Còn lại 20
            </span>
            <span>
                <span class="line-through mr-4">
                    99.000 đ
                </span>
                <span class="text-red-500 text-lg font-medium">
                    120.000 đ
                </span>
            </span>
        </div>
    </div>
    <div class=" p-3 rounded-md bg-white">
        <div class="flex gap-4 pb-4 border-b">
            <img src="../../../assets/images/img-pr.jpg" alt="" class="mt-[-20px]">
            <div>
                <h2> Hippi - Những Kẻ Lãng Du</h2>
                <span>Paulo Coelho</span>
                <p>
                    Hippie – Những kẻ lãng du đưa ta đến với những con người hoàn toàn xa lạ, với...
                </p>
            </div>
        </div>
        <div class=" mt-4 flex justify-between items-center">
            <span class=" p-2 rounded-md bg-red-500 text-white font-medium">
                Còn lại 20
            </span>
            <span>
                <span class="line-through mr-4">
                    99.000 đ
                </span>
                <span class="text-red-500 text-lg font-medium">
                    120.000 đ
                </span>
            </span>
        </div>
    </div>
    <div class=" p-3 rounded-md bg-white">
        <div class="flex gap-4 pb-4 border-b">
            <img src="../../../assets/images/img-pr.jpg" alt="" class="mt-[-20px]">
            <div>
                <h2> Hippi - Những Kẻ Lãng Du</h2>
                <span>Paulo Coelho</span>
                <p>
                    Hippie – Những kẻ lãng du đưa ta đến với những con người hoàn toàn xa lạ, với...
                </p>
            </div>
        </div>
        <div class=" mt-4 flex justify-between items-center">
            <span class=" p-2 rounded-md bg-red-500 text-white font-medium">
                Còn lại 20
            </span>
            <span>
                <span class="line-through mr-4">
                    99.000 đ
                </span>
                <span class="text-red-500 text-lg font-medium">
                    120.000 đ
                </span>
            </span>
        </div>
    </div>
    <div class=" p-3 rounded-md bg-white">
        <div class="flex gap-4 pb-4 border-b">
            <img src="../../../assets/images/img-pr.jpg" alt="" class="mt-[-20px]">
            <div>
                <h2> Hippi - Những Kẻ Lãng Du</h2>
                <span>Paulo Coelho</span>
                <p>
                    Hippie – Những kẻ lãng du đưa ta đến với những con người hoàn toàn xa lạ, với...
                </p>
            </div>
        </div>
        <div class=" mt-4 flex justify-between items-center">
            <span class=" p-2 rounded-md bg-red-500 text-white font-medium">
                Còn lại 20
            </span>
            <span>
                <span class="line-through mr-4">
                    99.000 đ
                </span>
                <span class="text-red-500 text-lg font-medium">
                    120.000 đ
                </span>
            </span>
        </div>
    </div>
</div>

<div class="mt-3 mb-5 text-center">
    <button [routerLink]="['more-products']"
        class="px-4 py-2 border rounded-sm bg-white text-blue-400 border-blue-400 hover:underline">
        <a>Xem Thêm
            <fa-icon [icon]="faAnglesRight" class="text-base"></fa-icon>

        </a>
    </button>
</div>