<div class="container-more-products mx-auto p-7">
    <div class="nav-container">
        <app-navbar></app-navbar>
    </div>
    <div class="grid grid-cols-5 gap-4 bg-slate-100 p-5">
        <div class=" bg-white px-3">
            <div class=" pb-5 border-x-0 border-t-0 border-b border-b-slate-600">
                <span class=" font-medium text-2xl mb-2 block">Danh mục</span>
                <ul class=" ml-4">
                    <li class=" py-2">
                        <span>
                            Bảng vẽ điện tử
                        </span>
                    </li>
                    <li class=" py-2">
                        <span>
                            Phụ kiện công nghệ
                        </span>
                    </li>
                </ul>
            </div>
            <div class=" pb-5">
                <span class=" font-medium text-2xl mb-2 block">Theo giá</span>
                <ul class=" ml-4">
                    <li class=" py-1.5">
                        <span>
                            Giá nhỏ hơn 50.000đ
                        </span>
                    </li>
                    <li class=" py-1.5">
                        <span>
                            Giá từ 50.000đ - 100.000đ
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class=" col-span-4">
            <div class="text-right my-5">
                <select name="" id="" class="py-3 mr-3 px-3 border">
                    <option value="">Sản phẩm mới</option>
                </select>
                <select name="" id="" class="py-3 px-3 border">
                    <option value="">20 sản phẩm</option>
                </select>
            </div>
            <div class=" grid grid-cols-3 gap-4">
                <div class=" p-3 rounded-md bg-white">
                    <div class="flex gap-4 pb-4 border-b">
                        <img src="../../../../assets/images/img-pr.jpg" alt="" class="mt-[-20px]">
                        <div>
<!--                            <h2 class=" line-clamp-1 font-medium text-[18px] hover:underline"-->
<!--                                [routerLink]="['detail/1']"> Hippi - Những Kẻ Lãng Du</h2>-->
                            <span>Paulo Coelho</span>
                            <p class=" line-clamp-3">
                                Hippie – Những kẻ lãng du đưa ta đến với những con người hoàn toàn xa lạ, với...
                            </p>
                        </div>
                    </div>
                    <div class=" mt-4 flex justify-between items-center">
                        <span class=" p-2 rounded-md bg-red-500 text-white font-medium">
                            Còn lại 20
                        </span>
                        <span>
                            <span class="line-through mr-4">
                                99.000 đ
                            </span>
                            <span class="text-red-500 text-lg font-medium">
                                120.000 đ
                            </span>
                        </span>
                    </div>
                </div>
                <div class=" p-3 rounded-md bg-white">
                    <div class="flex gap-4 pb-4 border-b">
                        <img src="../../../../assets/images/img-pr.jpg" alt="" class="mt-[-20px]">
                        <div>
                            <h2 class=" line-clamp-1 font-medium text-[18px]"> Hippi - Những Kẻ Lãng Du</h2>
                            <span>Paulo Coelho</span>
                            <p class="line-clamp-3">
                                Hippie – Những kẻ lãng du đưa ta đến với những con người hoàn toàn xa lạ, với...
                            </p>
                        </div>
                    </div>
                    <div class=" mt-4 flex justify-between items-center">
                        <span class=" p-2 rounded-md bg-red-500 text-white font-medium">
                            Còn lại 20
                        </span>
                        <span>
                            <span class="line-through mr-4">
                                99.000 đ
                            </span>
                            <span class="text-red-500 text-lg font-medium">
                                120.000 đ
                            </span>
                        </span>
                    </div>
                </div>
                <div class=" p-3 rounded-md bg-white">
                    <div class="flex gap-4 pb-4 border-b">
                        <img src="../../../../assets/images/img-pr.jpg" alt="" class="mt-[-20px]">
                        <div>
                            <h2 class=" line-clamp-1 font-medium text-[18px]"> Hippi - Những Kẻ Lãng Du</h2>
                            <span>Paulo Coelho</span>
                            <p class="line-clamp-3">
                                Hippie – Những kẻ lãng du đưa ta đến với những con người hoàn toàn xa lạ, với...
                            </p>
                        </div>
                    </div>
                    <div class=" mt-4 flex justify-between items-center">
                        <span class=" p-2 rounded-md bg-red-500 text-white font-medium">
                            Còn lại 20
                        </span>
                        <span>
                            <span class="line-through mr-4">
                                99.000 đ
                            </span>
                            <span class="text-red-500 text-lg font-medium">
                                120.000 đ
                            </span>
                        </span>
                    </div>
                </div>
                <div class=" p-3 rounded-md bg-white">
                    <div class="flex gap-4 pb-4 border-b">
                        <img src="../../../../assets/images/img-pr.jpg" alt="" class="mt-[-20px]">
                        <div>
                            <h2 class=" line-clamp-1 font-medium text-[18px]"> Hippi - Những Kẻ Lãng Du</h2>
                            <span>Paulo Coelho</span>
                            <p class="line-clamp-3">
                                Hippie – Những kẻ lãng du đưa ta đến với những con người hoàn toàn xa lạ, với...
                            </p>
                        </div>
                    </div>
                    <div class=" mt-4 flex justify-between items-center">
                        <span class=" p-2 rounded-md bg-red-500 text-white font-medium">
                            Còn lại 20
                        </span>
                        <span>
                            <span class="line-through mr-4">
                                99.000 đ
                            </span>
                            <span class="text-red-500 text-lg font-medium">
                                120.000 đ
                            </span>
                        </span>
                    </div>
                </div>
                <div class=" p-3 rounded-md bg-white">
                    <div class="flex gap-4 pb-4 border-b">
                        <img src="../../../../assets/images/img-pr.jpg" alt="" class="mt-[-20px]">
                        <div>
                            <h2 class=" line-clamp-1 font-medium text-[18px]"> Hippi - Những Kẻ Lãng Du</h2>
                            <span>Paulo Coelho</span>
                            <p class="line-clamp-3">
                                Hippie – Những kẻ lãng du đưa ta đến với những con người hoàn toàn xa lạ, với...
                            </p>
                        </div>
                    </div>
                    <div class=" mt-4 flex justify-between items-center">
                        <span class=" p-2 rounded-md bg-red-500 text-white font-medium">
                            Còn lại 20
                        </span>
                        <span>
                            <span class="line-through mr-4">
                                99.000 đ
                            </span>
                            <span class="text-red-500 text-lg font-medium">
                                120.000 đ
                            </span>
                        </span>
                    </div>
                </div>
                <div class=" p-3 rounded-md bg-white">
                    <div class="flex gap-4 pb-4 border-b">
                        <img src="../../../../assets/images/img-pr.jpg" alt="" class="mt-[-20px]">
                        <div>
                            <h2 class=" line-clamp-1 font-medium text-[18px]"> Hippi - Những Kẻ Lãng Du</h2>
                            <span>Paulo Coelho</span>
                            <p class="line-clamp-3">
                                Hippie – Những kẻ lãng du đưa ta đến với những con người hoàn toàn xa lạ, với...
                            </p>
                        </div>
                    </div>
                    <div class=" mt-4 flex justify-between items-center">
                        <span class=" p-2 rounded-md bg-red-500 text-white font-medium">
                            Còn lại 20
                        </span>
                        <span>
                            <span class="line-through mr-4">
                                99.000 đ
                            </span>
                            <span class="text-red-500 text-lg font-medium">
                                120.000 đ
                            </span>
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>