<div class="container-more-products mx-auto p-7">
    <div class="nav-container">
        <app-navbar></app-navbar>
    </div>
    <div class="grid grid-cols-5 gap-4 bg-slate-100 p-5">
        <div class=" bg-white px-3">
            <div class=" pb-5 border-x-0 border-t-0 border-b border-b-slate-600">
                <span class=" font-medium text-2xl mb-2 block">Danh mục</span>
                <ul class=" ml-4">
                    <li class=" py-2">
                        <span>
                            Bảng vẽ điện tử
                        </span>
                    </li>
                </ul>
            </div>
            <div class=" pb-5">
                <span class=" font-medium text-2xl mb-2 block">Theo giá</span>
                <ul class=" ml-4">
                    <li class=" py-1.5">
                        <span>
                            Giá nhỏ hơn 50.000đ
                        </span>
                    </li>
                    <li class=" py-1.5">
                        <span>
                            Giá từ 50.000đ - 100.000đ
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class=" col-span-4">
            <div class="text-right my-5">
                <select name="" id="" class="py-3 mr-3 px-3 border">
                    <option value="">Sản phẩm mới</option>
                </select>
                <select name="" id="" class="py-3 px-3 border">
                    <option value="">20 sản phẩm</option>
                </select>
            </div>
            <div class="list-product-container grid grid-cols-3 gap-4">
                <div class="item-container p-3 rounded-md bg-white" *ngFor="let comic of comics, let index = index">
                    <div class="top-item-container flex gap-4 pb-4 border-b">
                        <div class="image-container" (click)="goToDetail(comic.id)">
                            <img [src]="comic.imgComic" alt="">
                        </div>
                        <div>
                            <h2 class=" line-clamp-1 font-medium text-[18px] hover:underline">
                                {{ comic.comicName }}
                            </h2>
                            <span>{{ comic.authorName }}</span>
                            <p class=" line-clamp-3">
                                {{ comic.contents }}
                            </p>
                        </div>
                    </div>
                    <div class=" mt-4 flex justify-between items-center">
                        <span class=" p-2 rounded-md bg-red-500 text-white font-medium">
                            Còn lại {{ comic.residualQuantity }}
                        </span>
                        <span>
                            <span class="line-through mr-4">
                                {{ comic.price }} đ
                            </span>
                            <span class="text-red-500 text-lg font-medium">
                                {{ calculatePrice(comic.price, comic.sale) }} đ
                            </span>
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>