<div class="login-container mx-auto">
    <div class="login-content-wrapper bg-white py-5">
        <div class="form-container max-w-[600px] shadow-xl mx-auto">
            <div class="navbar-container flex items-center justify-center gap-3">

<!--                Thanh điều khiển -->
                <span class="nav-button py-3 px-5 border border-x-0 border-t-0"
                      (click)="isLoginForm = true"
                      [class.border-b-red-400]="isLoginForm">
                    Đăng nhập
                </span>

                <span class="nav-button py-3 px-5 border border-x-0 border-t-0"
                      (click)="isLoginForm = false"
                      [class.border-b-red-400]="!isLoginForm">
                    Đăng ký
                </span>
            </div>

<!--            Màn hình đăng nhập-->
            <form class="login-form max-w-sm mx-auto" *ngIf="isLoginForm">
                <div class="mb-5">
                    <label for="username"
                           class="block mb-2 text-sm
                            font-medium text-gray-900 dark:text-white">
                        Nhập tên tài khoản <span class="requirement">*</span>
                    </label>
                    <input type="text"
                           id="username"
                           class="bg-gray-50 border border-gray-300
                           text-gray-900 text-sm rounded-lg p-2.5
                           w-full focus:ring-0 focus:outline-none"
                           placeholder="Nhập tên tài khoản"
                           required />
                </div>

                <div class="mb-5">
                    <label for="password"
                           class="block mb-2 text-sm
                           font-medium text-gray-900 dark:text-white ">
                        Nhập mật khẩu <span class="requirement">*</span>
                    </label>

                    <input type="password"
                           id="password"
                           class="bg-gray-50 border border-gray-300
                           text-gray-900 text-sm rounded-lg p-2.5
                           w-full focus:ring-0 focus:outline-none"
                           placeholder="Nhập mật khẩu"
                           required />
                </div>

                <div class="text-center">
                    <button type="submit"
                        class="text-white bg-stone-300
                        hover:bg-stone-200 focus:ring-0
                        focus:outline-none font-medium
                        rounded-lg text-sm w-full sm:w-auto
                        px-10 py-2.5 text-center submit">
                        Đăng nhập
                    </button>
                </div>
            </form>

<!--            Màn hình đăng ký-->
            <form class="register-form max-w-sm mx-auto" *ngIf="!isLoginForm">
                <div class="mb-5">
                    <label for="username"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Nhập tên tài khoản <span class="requirement">*</span>
                    </label>
                    <input type="username" id="username-register"
                           class="bg-gray-50 border border-gray-300
                           text-gray-900 text-sm rounded-lg p-2.5
                           w-full focus:ring-0 focus:outline-none"
                           placeholder="Nhập tên tài khoản"
                           required />
                </div>

                <div class="mb-5">
                    <label for="email-register"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Nhập email <span class="requirement">*</span>
                    </label>
                    <input type="email" id="email-register"
                           class="bg-gray-50 border border-gray-300
                           text-gray-900 text-sm rounded-lg p-2.5
                           w-full focus:ring-0 focus:outline-none"
                           placeholder="Nhập email"
                           required />
                </div>

                <div class="mb-5">
                    <label for="phone-register"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Nhập số điện thoại <span class="requirement">*</span>
                    </label>
                    <input type="email" id="phone-register"
                           class="bg-gray-50 border border-gray-300
                           text-gray-900 text-sm rounded-lg p-2.5
                           w-full focus:ring-0 focus:outline-none"
                           placeholder="Nhập số điện thoại"
                           required />
                </div>

                <div class="mb-5">
                    <label for="password"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Nhập mật khẩu <span class="requirement">*</span>
                    </label>
                    <input type="password"
                           id="password-register"
                           class="bg-gray-50 border border-gray-300
                           text-gray-900 text-sm rounded-lg p-2.5
                           w-full focus:ring-0 focus:outline-none"
                           placeholder="Nhập mật khẩu"
                           required />
                </div>

                <div class="mb-5">
                    <label for="password"
                           class="block mb-2 text-sm font-medium
                           text-gray-900 dark:text-white">
                        Nhập lại mật khẩu <span class="requirement">*</span>
                    </label>
                    <input type="password" id="re-password"
                           class="bg-gray-50 border border-gray-300
                           text-gray-900 text-sm rounded-lg p-2.5
                           w-full focus:ring-0 focus:outline-none"
                           placeholder="Nhập lại mật khẩu"
                           required />
                </div>
                <div class="text-center">
                    <button type="submit"
                            class="text-white bg-stone-300
                            hover:bg-stone-200 focus:ring-0
                            focus:outline-none font-medium
                            rounded-lg text-sm w-full sm:w-auto
                            px-10 py-2.5 text-center submit">
                        Đăng ký
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
