<div class="user-shop-popup-container">
    <div class="header">
        <h2 class="header-title">
            Cập nhật trạng thái đơn hàng
        </h2>
    </div>
    <div class="body">
        <div class="container mx-auto">
            <div class="items-center rounded">
                <input id="bordered-radio-1"
                       type="radio"
                       value="2"
                       name="bordered-radio"
                       class="w-4 h-4 text-blue-600 bg-gray-100
                       border-gray-300 focus:ring-blue-500
                       dark:focus:ring-blue-600 dark:ring-offset-gray-800
                        focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                       [(ngModel)]="status"
                       [checked]="status === '2'">
                <label for="bordered-radio-1"
                       class="w-full py-4 ms-2 text-sm font-medium
                       text-gray-900 dark:text-gray-300">
                    Nhận hàng
                </label>
            </div>
            <div class="items-center rounded">
                <input [checked]="status === '3'"
                       id="bordered-radio-2"
                       type="radio" value="3"
                       name="bordered-radio"
                       class="w-4 h-4 text-blue-600 bg-gray-100
                       border-gray-300 focus:ring-blue-500
                       dark:focus:ring-blue-600 dark:ring-offset-gray-800
                        focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                       [(ngModel)]="status">
                <label for="bordered-radio-2"
                       class="w-full py-4 ms-2 text-sm font-medium
                        text-gray-900 dark:text-gray-300">
                    Hủy hàng
                </label>
            </div>
        </div>
    </div>
    <div class="footer">
        <button class="cancel" (click)="onCancelClick()">Hủy</button>
        <button class="confirm" (click)="onConfirm()">Xác nhận</button>
    </div>
</div>
