.wishlist-container {
  min-height: calc(100vh - 324px);
  padding: 16px 96px;

  .item-container {
    height: 208px;

    .top-item-container {
      cursor: pointer;
      .image-container {
        width: 200px;
        height: 180px;
        background: #f0ecec;

        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }

      .info-container {
        width: 192px;
      }
    }
  }
}