<div class="p-4 w-full admin-user-container">
    <div class="flex">
        <app-sidebar></app-sidebar>

        <div class="admin-user-content relative shadow-md sm:rounded-lg container mx-auto">
            <div>
                <form class="max-w-md mx-auto">
                    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                            </svg>
                        </div>
                        <input type="search" id="default-search"
                               class="block w-full p-4 ps-10 text-sm text-gray-900
                               border border-gray-300 rounded-lg bg-gray-50
                               focus:ring-blue-500 focus:border-blue-500
                               dark:bg-gray-700 dark:border-gray-600
                               dark:placeholder-gray-400 dark:text-white
                               dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               [(ngModel)]="user.searchKey"
                               [ngModelOptions]="{standalone: true}"
                               placeholder="Nhập từ khóa" required/>
                        <button type="submit"
                                (click)="searchUser(0)"
                                class="text-white absolute end-2.5 bottom-2.5
                                bg-blue-700 hover:bg-blue-800 focus:ring-4
                                focus:outline-none focus:ring-blue-300
                                font-medium rounded-lg text-sm px-4 py-2
                                dark:bg-blue-600 dark:hover:bg-blue-700
                                dark:focus:ring-blue-800">
                            Tìm kiếm
                        </button>
                    </div>
                </form>
            </div>
            <br>
            <table class="w-full text-sm text-left
                    rtl:text-right text-gray-500 dark:text-gray-400"
                    *ngIf="pageUser.totalElements > 0">
                <thead class="text-xs text-gray-700 uppercase
                bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Id
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Ảnh
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Tên tài khoản
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Tên người dùng
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Năm sinh
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Giới tính
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Số điện thoại
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Gmail
                    </th>
                    <th scope="col" class="px-6 py-3">

                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
                    *ngFor="let user of pageUser.content, let index = index"
                >
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ index + 1 }}
                    </th>
                    <td class="px-6 py-4">
                        <img style="max-width: 140px; max-height: 160px" [src]="URL_FILE + user.imgUser" alt="">
                    </td>
                    <td class="px-6 py-4">
                        {{ user.username }}
                    </td>
                    <td class="px-6 py-4">
                        {{ user.fullName }}
                    </td>
                    <td class="px-6 py-4">
                        {{ user.birthday | date: 'dd/MM/yyyy'}}
                    </td>
                    <td class="px-6 py-4" *ngIf="user.gender === 1">
                        Nam
                    </td>
                    <td class="px-6 py-4" *ngIf="user.gender === 0">
                        Nữ
                    </td>
                    <td class="px-6 py-4" *ngIf="user.gender === null">

                    </td>
                    <td class="px-6 py-4">
                        {{ user.phone }}
                    </td>
                    <td class="px-6 py-4">
                        {{ user.email }}
                    </td>
                    <td class="px-6 py-4">
                      <a mat-button
                         (click)="openDialogDelete(user)"
                         class="font-medium text-red-600
                            dark:text-blue-500 hover:underline
                            cursor-pointer">
                        Xóa
                      </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="no-content"
                 *ngIf="pageUser.totalElements === 0">
                Chưa có thông tin gì
            </div>
            <app-pagination [currentPage]="currentPage"
                            [totalElement]="pageUser.totalElements"
                            [totalPage]="pageUser.totalPages"
                            [pageSize]="pageSize"
                            [elementInCurrentPage]="numberUser"
                            (pageChange)="handlePageChange($event)"
            >
            </app-pagination>
        </div>
    </div>
</div>
