.cart-container {
    padding: 16px 96px;
    min-height: calc(100vh - 324px);

    .cart-body-no-content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 40px;
    }

    .doOrderBtn:disabled {
        opacity: 0.7;
    }

    .detail-order-info {
        padding: 24px;
        font-weight: 600;
        font-size: 18px;
        margin-top: 8px;
        background: #47a2d4;
        width: 100%;
        color: white;
    }
}

.delete-cart-popup-container {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        .popup-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 16px;
            border-bottom: 1px solid #e9e4e4;

            .popup-title {
                font-size: 18px;
                font-weight: 600;
            }

            .description {
                font-size: 14px;
            }
        }
        .popup-body {
            height: 80px;
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;
            padding: 0 12px;
            justify-content: center;
        }

        .popup-footer {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 16px;
            border-top: 1px solid #e9e4e4;

            button {
                padding: 4px 24px;
                border-radius: 5px;
            }

            .btn-cancel {
                background: #e9e4e4;
                margin-right: 4px;
            }

            .btn-confirm {
                background: rgb(241 92 34);
                color: white;
                margin-left: 4px;
            }
        }
    }