<div class="cart-container mx-auto my-4">
    <div class=" grid grid-cols-5 gap-5">
        <div class="bg-white rounded-md p-3 col-span-4">
            <div class="py-3 border-b">
                <span class="">
                    Giỏ hàng
                </span>
            </div>
            <div class=" grid grid-cols-5 gap-3 py-2 border-b border-dashed"
                *ngFor="let comicOrder of comicOrders, let index = index">
                <div>
                    <img [src]="comicOrder.imgComic" alt="">
                </div>
                <div class="col-span-2">
                    <span class="line-clamp-1">
                        {{index + 1}}. {{ comicOrder.comicName }}
                    </span>
                    <span class="block text-slate-400 text-sm">
                        Loại: {{ comicOrder.typeName }}
                    </span>
                    <span class="text-sm">
                        <span class="text-blue-500 hover:underline"
                                style="cursor: pointer">
                            Xóa
                        </span>
                        |
                        <span
                            class="text-blue-500 hover:underline"
                            style="cursor: pointer">Thêm vào yêu thích </span>
                    </span>
                </div>
                <div>
                    <span class="font-bold">
                        {{comicOrder.totalPrice}} đ
                    </span>
                </div>
                <div>
                    <div class="border inline-block bg-slate-50">

                        <span class=" px-3 py-2"> - </span> <input type="text" value="1"
                            class="w-[3rem] text-center py-2 text-orange-500">
                        <span class=" px-3 py-2"> +
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="  p-3">
            <div class="text-center bg-white pt-3 rounded-md overflow-hidden">
                <span class="text-2xl font-semibold mb-3 block">
                    {{ totalProduct }} sản phẩm
                </span>
                <span class=" text-red-600 font-bold text-2xl">
                    {{ totalPrice }} đ
                </span>
                <p>(Chưa có cước vận chuyển)</p>

                <div class=" mt-5 bg-orange-500">
                    <button class="py-5 text-white text-xl"
                            (click)="gotoPay()">Tiến hành đặt hàng</button>
                </div>
            </div>
        </div>
    </div>
</div>